.grid-container {
    display: grid;
    grid-template-columns: 30% auto;
    background-color: #2196F3;
    padding: 10px;
    grid-gap: 1% 1%;

}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 15px;
  text-align: center;
}

.deptList{
    text-align: left;
}



#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }

#depBox {
    background-color: lightgrey;
    width: 300px;
  /*  border: 25px solid green;*/
    padding: 25px;
    margin: 25px;
  }

/*
.VTG {
    width: 100%;½
    height: auto;
}
*/
